@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
}
.hero__main{
    background-image: url('../src/assets/hero__bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -250px;
    padding-top: 250px;
}
.app__preview__main {
    background-image: url('./assets/app-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease-in-out;
}

.app__screenshot__image {
    transform: translate(-50%);
    transition: 0.4s ease-in-out;
}

.app__screen__short:hover .app__screenshot__image:nth-child(1) {
    transform: rotate(30deg) translate(-40%,0%);
    transform-origin: bottom ;
    box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
}

.app__screen__short:hover .app__screenshot__image:nth-child(2) {
    transform: rotate(50deg) translate(-40%,0%);
    transform-origin: bottom;
    box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);

}

.app__screen__short:hover .app__screenshot__image:nth-child(3) {
    transform: rotate(70deg) translate(-40%,0%);
    transform-origin: bottom;
    box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);

}

.app__screen__short:hover .app__screenshot__image:nth-child(4) {
    transform: rotate(90deg) translate(-40%, 10%);
    transform-origin: bottom;
    box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: 22px 34px 76px -29px rgba(0,0,0,0.31);

}

.app__screen__short:hover .app__screenshot__image:nth-child(5) {
    transform: rotate(310deg) translate(0%, -40%);
    transform-origin: bottom;
    box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);

}

.app__screen__short:hover .app__screenshot__image:nth-child(6) {
    transform: rotate(290deg) translate(40%, -40%);
    transform-origin: bottom;
    box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);

}

.app__screen__short:hover .app__screenshot__image:nth-child(7) {
    transform: rotate(280deg) translate(40%, -40%);
    transform-origin: bottom;
    box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);

}

.app__screen__short:hover .app__screenshot__image:nth-child(8) {
    transform: rotate(270deg) translate(40%, -40%);
    transform-origin: bottom;
    box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-webkit-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);
-moz-box-shadow: -42px 43px 76px -29px rgba(0,0,0,0.31);

}

.app__screen__short:hover .app__screenshot__image:nth-child(9) {
    /* transform: rotate(0deg); */
    box-shadow: 7px 43px 76px 0px rgba(0,0,0,0.35);
-webkit-box-shadow: 7px 43px 76px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 7px 43px 76px 0px rgba(0,0,0,0.35);
}